*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --primaryColor:#4285F4 ; /* blue */
    --secondaryColor:#3C76E1;/* darker blue*/
    --tertiaryColor:#FFB90A;   /* yellow */
    --quaternaryColor:#DB4437;     /* red */
    font-family:'Roboto', sans-serif;
    font-size: 20px;
}
body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(32,68,82,1) 0%, rgba(255,255,255,1) 51%, rgba(255,209,249,1) 100%);
    color: var(--primaryColor);
    text-align: center;
    /* background-image: url(./background\ img.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    
}


.container{
    max-width: 1200px;
    width: 90%;
    max-width: none !important;

}

.main{
    color: white;
    padding: 15px;

}
.main .container{
    display: flex;
}
.aside{
    margin-top:2rem!important;
    padding:.5em .5em 1em;
    width: 50%;
    height: auto;
}
.sideimagediv{
    margin-top:2rem!important;
    padding:.5em .5em 1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: auto;
    width: 49%;
}
.sideimagediv img{
    transition: all ease-in-out  6s ;
    height: 400px;
    width: 450px;
    /* padding-left: 100px; */
}

.hidden2{
    display: none;
}
.socialmedia{
    color: black;
    margin-top: 50px;
    height: 140px;
    width: 100%;
    display: flex;
    /* background-color: #DB4437; */
}
.instagram , .twitter , .youtube , .linkedin{
    height: 100%;
    width: 25%;
    text-align: center;
    border-left: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 600; */
    /* font-size: 1.7rem; */
}
.bordernone{
    border-left: none;
}
.specialcolor{
    color: #00328f;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container .socialmedia a{
    text-decoration: none;
}


@media screen and (max-width:350px) {
    body{
        /* background-image: url(./forandroidmobile.jpg); */
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(32,68,82,1) 0%, rgba(255,255,255,1) 51%, rgba(255,209,249,1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width:550px) {
    body{
        /* background-image: url(./formobile.jpg); */
        background: rgb(244,138,255);
        background: linear-gradient(0deg, rgba(244,138,255,0) 0%, rgba(230,45,253,0.5130427170868348) 100%);      background-repeat: no-repeat;
        background-size: cover;
    }
    .main .container{
        display:contents;
    }
    .aside{
        margin-top:2rem!important;
        /* padding: 15px 15px; */
        
        width: 100%;
        height: auto;
    }
    .sideimagediv{
        /* margin-top:2rem!important; */
        /* padding:.5em .5em 1em; */
        position: relative;
        overflow: hidden;
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    .sideimagediv img{
        transition: all ease-in-out  6s ;
        height: 290px;
        width: 340px;
        /* padding-left: 100px; */
    }
    .hidden{
        display: none;
    }
    .hidden2{
        display: contents;
        color: rgb(65, 65, 65);
    }
    .socialmedia{
        color: rgb(255, 255, 255);
        margin-top: 50px;
        height: 140px;
        width: 100%;
        display: flex;
        /* background-color: #ffffff; */
        border-radius: 3px;
    }
    .instagram , .twitter , .youtube , .linkedin{
        height: 100%;
        width: 25%;
        padding: 10px;
        text-align: center;
        border-left: 2px solid rgb(144, 144, 144);
        font-family: Arial, Helvetica, sans-serif;
        /* font-weight: 600; */
        font-size: 15px;
        color: rgb(0, 0, 0);
    }
    .bordernone{
        border-left: none;
    }
    .containerrr .socialmedia a{
        text-decoration: none;
        /* color: rgb(61, 61, 61); */
    }
    
}


.footer{
    color: white;
}